body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
	background-image: url('https://images.pexels.com/photos/13010769/pexels-photo-13010769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 20px;
}

nav {
    background-color: #2980b9;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 12px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header img {
        display: none; 
    }

    nav a {
        margin: 0 20px;
    }
}
